####	new project

# npm packages #
> v-calendar@2.4.2 / MIT / https://vcalendar.io
vuetify 의 v-calendar 대신 사용

> packages/circlepacker@2.1.0 / mit

> swiper.js@11.1.3 / mit

> vue3-lottie@3.3.0 / mit / vue3-lottie.vercel.app

> maska@2.1.11 / mit / http://beholdr.github.io/maska/ / v-text-field 에 masked 입력 제공용


##  기본 구조
> src
    L assets
    L components
    L stores ??
    L app.vue
    L main.js


##  구조
> src
    L assets
    L components
    L layouts
    L plugins
    L router
    L view
    L stores ??
    L app.vue
    L main.js