////////////////////////////////////

- npm install vue-router@4

////////////////////////////////////

>> extensions
auto close tag
auto rename tag
esLint
HTML CSS Support
Prettier -code for
rainbow brackets
Vetur
Vue- official
vue 3 Snippets
vue 3 Support - all in one

////////////////////////////////////
####    기존 project    ####

1. 프로젝트 생성 
    * npm create vite@lastest
        - vue + typescript
    * package 추가
        - vuetify, @mdi/font, pretendard
        - chart.js
        - vue-chartjs
        - chartjs-plugin-datalabels
        - /package/circlepacker @2.1.0

    * dev package 추가
        - vite-plugin-vuetify, vue-router
    * vite.config.mts 수정 (?)
        - define, resolve, server, build 추가


#############################################
## 퍼블에서 추가한 npm packages #
> v-calendar@2.4.2 / MIT / https://vcalendar.io
vuetify 의 v-calendar 대신 사용

> packages/circlepacker@2.1.0 / mit

> swiper.js@11.1.3 / mit

> vue3-lottie@3.3.0 / mit / vue3-lottie.vercel.app

> maska@2.1.11 / mit / http://beholdr.github.io/maska/ / v-text-field 에 masked 입력 제공용


##  기본 구조
> src
    L assets
    L components
    L stores ??
    L app.vue
    L main.js


##  구조
> src
    L assets
    L components
    L layouts
    L plugins
    L router
    L view
    L stores ??
    L app.vue
    L main.js
    L vite-env.d.ts


##  확인 필요

vue-router 설치 ? add ?

vite & vue ? typescript & vue

app.vue
main.ts
vite-env.d.ts

package.json 확인 필요

tsconfig.json
tsconfig.node.json
vite.config.ts


####    명령어
npm install
npm run dev
npm run preview
npm run build

npm cache clean --force

#### iOS swift
- swift ui 상태바 viewcontroller 확장
- snapkit framework
	webview의 contrains를 safearea ignore로 처리

####    plugin
- morph

####    css
- autofill 관련 정리 필요 (아래 링크 참조)
https://yehaday.tistory.com/entry/CSS-autofill-input-%EC%9E%90%EB%8F%99%EC%99%84%EC%84%B1-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%A0%9C%EC%96%B4%ED%95%98%EA%B8%B0

// 위 링크 내용
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border: 5px solid #f00;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

// 작업 내용
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
}

####    vuetify
- v-select animation 해제
transition: none
- hide-details

#### etc
extensions lint 적용